.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 15px;
    font-size: 11px;
    font-weight: 800;
    color: var(--brand-color);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--light-gray-color);
    border-radius: 3px;
    outline: none;
}

.button:hover {
    border-color: var(--mid-gray-color);
    opacity: 1;
}

.button-secondary {
    color: var(--darker-gray-color);
}