/* Code formatting */

code {
	font-family: var(--font-mono) !important;
	font-size: 1.6rem !important;
}

/* copied from prism.js css */
:not(pre)>code {
	background-color: #fdfdfd;
	color: #c92c2c;
	display: inline-block;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 0 0.15em;
	text-decoration: none;
}

pre[class*="language-"]>code {
	line-height: 1.75 !important;
	background-size: 1em 5.6rem !important;
}
