/* ! Match colors in default.hbs and configured brand color * /

/* Essays: Green */
.nav-essays a, /* top navigation bar button; uses label text */
.post-feed .tag-essays .feed-calendar { /* index: calendar date; uses slug text */
	color: #008F8F;
}

/* Stories, Poems, and Songs: Blue */
.nav-stories-poems-and-songs a,
.post-feed .tag-stories-poems-songs .feed-calendar {
	color: #006691;
}

/* Technology: Orange (match brand color) */
.nav-technology a,
.post-feed .tag-tech .feed-calendar {
	color: #DB7909;
}
