name: Deploy theme

on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - '**'
      - '!.**'
      - '!assets/fonts/LICENSE.md'
      - '!gulpfile.js'
      - '!LICENSE.md'
      - '!README.md'

jobs:
  deploy_theme:
    runs-on: ubuntu-latest
  

    steps:
      - name: Checkout the main branch
        uses: actions/checkout@v4
        with:
          ref: main
      

      - name: Minify handlebars templates
        run: |

          # Don't minify alternate image sizes template (1/2) - CDN URL replacement is faster using new-line matching
          mv partials/srcset.hbs partials/srcset.no-min

          # Remove handlebars comments
          find . -type f -name "*.hbs" -exec perl -i -pe 's/\{\{!--.*?--\}\}//g' {} \;

          # 1. Delete all empty lines - ^\s*$
          # 2. Strip preceeding whitespace - ^\s+
          # 3. Strip trailing whitespace - \s+$
          # 4. Add a trailing space to all lines that do not end with > or }}
          find . -type f -name "*.hbs" -exec sed -i -e '/^\s*$/d' -e 's/^\s\+//' -e 's/\s\+$//' -e '/>$/!{ /}}$/!s/$/ / }' {} \;

          # Remove all line breaks
          find . -type f -name "*.hbs" -exec sed -i ':a;N;$!ba;s/\n//g' {} \;

          # Bugfix
          sed -i 's/{{ghost_head[^}]*}}/\n&\n/' default.hbs

          # Don't minify alternate image size template (2/2)
          mv partials/srcset.no-min partials/srcset.hbs


      - name: Build and package theme
        run: |

          yarn
          yarn zip


      - name: Deploy theme
        uses: TryGhost/action-deploy-theme@v1
        with:
          api-url: ${{ vars.GHOST_ADMIN_API_URL }}
          api-key: ${{ secrets.GHOST_ADMIN_API_KEY }}
          file: "dist/ghost-theme-am.zip"