name: Deploy theme

on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - '**'
      - '!.**'
      - '!assets/fonts/LICENSE.md'
      - '!gulpfile.js'
      - '!LICENSE.md'
      - '!README.md'

jobs:
  deploy_theme:
    runs-on: ubuntu-latest
  

    steps:
      - name: Checkout the main branch
        uses: actions/checkout@v4
        with:
          ref: main
      

      - name: Minify handlebars templates
        run: |

          # don't minify alternate image sizes template. CDN URL replacement is faster using new-line matching
          mv partials/srcset.hbs partials/srcset.no-min

          # https://github.com/kangax/html-minifier
          npm install html-minifier -g
          html-minifier --collapse-whitespace --ignore-custom-comments '[]' --ignore-custom-fragments '[ /{{!<\[^}\]*}}/ ]' --input-dir . --output-dir . --file-ext hbs
          find . -type f -name "*.hbs" -exec sed -i -e 's/} {/}{/g' -e 's/> </></g' -e 's/> {/>{/g' -e 's/} </}</g' {} \;

          mv partials/srcset.no-min partials/srcset.hbs


      - name: Build and package theme
        run: |

          yarn
          yarn zip


      - name: Deploy theme
        uses: TryGhost/action-deploy-theme@v1
        with:
          api-url: ${{ vars.GHOST_ADMIN_API_URL }}
          api-key: ${{ secrets.GHOST_ADMIN_API_KEY }}
          file: "dist/ghost-theme-am.zip"