.feed {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    overflow: hidden;
    line-height: 1;
}

.feed:hover .feed-title {
    opacity: 0.8;
}

.feed + .feed {
    border-top: 1px solid var(--light-gray-color);
}

.feed-calendar {
    margin-left: 1.5rem;
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--brand-color);
    white-space: nowrap;
    text-transform: uppercase;
}

.feed-title {
    flex-grow: 1;
    margin-bottom: 0;
    overflow: hidden;
    font-family: var(--gh-font-body, var(--font-sans));
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    text-overflow: ellipsis;
    letter-spacing: 0;
    white-space: nowrap;
}
