.single-header {
    margin-bottom: 4.5rem;
    text-align: center;
}

.page-template .single-header {
    margin-top: var(--header-spacing);
}

.single-meta {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

.single-meta-item + .single-meta-item::before {
    padding: 0 0.3rem;
    font-family: serif;
    content: "\02022";
}

.single-meta-tag .post-tag {
    color: var(--brand-color);
}

.single-title {
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
    word-break: break-word;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .single-title {
    font-family: var(--gh-font-heading, var(--font-serif));
}

.single-excerpt {
    margin-top: 2rem;
    font-size: 1.8rem;
    word-break: break-word;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .single-excerpt {
    font-family: var(--gh-font-body, var(--font-serif));
}

.single-media {
    margin-top: 4.5rem;
}

@media (max-width: 767px) {
    .single-header {
        margin-bottom: 3rem;
    }

    .single-title {
        font-size: 2.6rem;
    }

    .single-excerpt {
        font-size: 1.7rem;
    }

    .single-media {
        margin-top: 3rem;
    }
}
