.tag {
    margin-bottom: 4.5rem;
    text-align: center;
}

.tag .tag-name {
    margin-bottom: 0;
    font-size: 3rem;
    color: var(--brand-color);
}

.tag .tag-name::before {
    content: "#";
}

.tag .tag-description {
    max-width: 520px;
    margin: 16px auto 0;
}

.tag .tag-media {
    margin-top: 4.5rem;
}

@media (max-width: 767px) {
    .tag {
        margin-bottom: 2.5rem;
    }

    .tag .tag-media {
        margin-top: 3rem;
    }
}
